
/** Destaque **/
.destaque {
  background: url(../imagens/destaque.jpg) center bottom repeat-x;
  -webkit-background-size: cover;
  background-size: cover;
  color: white;
  height: 330px;
  padding-top: 10em;

	@media #{$mq-mobile} {
		font-size: 14px;
		height: 250px;
	}

	p {
	  width: 30em;

		&:first-child {
			width: 30em;
			font-size: 1.3em;
			line-height: 1.1;
		}

		&:first-child:first-line {
			font-size: 2.2em;
			font-weight: bold;
		}
	}

	button {
	  margin-top: 1em;
	  background: $cor-padrao;
	  border: 0;
	  padding: .6em;
	  font-size: 1.2em;
	  @include borda-arredondada(50px);
	  font-weight: bold;
	}
}
