/** Planos **/
.planos {
  background: $cor-planos;

	h2 {
	  color: $corbranca;
	}
}

.plano {
  background: white;
  width: 18 * $tamanho-da-fonte-padrao;
  display: inline-block;
  margin: 1em 0 0 1.4em;
  padding-bottom: 2em;

	&:hover {
	  background: #dedede;
	}

	h3 {
	  color: $corbranca;
	  font-size: 1.8em;
	  background: $cor-padrao;
	  text-align: center;
	  height: 2em;
	  padding-top: .6em;
	  margin-top: 0;
	}

	div {
	  text-align: center;
	  color: $cor-padrao;
	  font-size: 2.75em;
	}

	button {
	  background: $cor-padrao;
	  border: 0;
	  color: $corbranca;
	  @include tamanho-botao;
	  @include borda-arredondada;
	  margin-left: 2em;
	}
}

.itens-plano {
  padding-left: 1.2em;

	li {
	  font-size: 1em;
	  list-style: none;
	  border-bottom: 1px solid #acacac;
	  padding: .5em;
	  width: 14.8em;

		&:last-child {
			border: 0;
		}
	}

	span {
	  float: right;
	}
}

.icone-check, .icone-x {
  background: url(../imagens/sprite.png) no-repeat;
	//@include all-sprite-sprite;
  width: 18px;
  height: 18px;
}

.icone-check {
  background-position: -5px -5px;
}

.icone-x {
  background-position: -33px -5px;
}
