.destaques {
    display: grid;
    /* Aqui estamos dividindo o layout total em 4 colunas [ 100/4 = 25 ] */
    grid-template-columns: 25% 25% 25% 25%;
    /* Aqui estamos dividindo o layout total em 3 colunas [ 100/3 = 99.99 ] */
    grid-template-rows: 33.33% 33.33% 33.33%;
    /* Agora vamos calcular o tamanho da tela total que é de 100vh, menos o cabeçalho que é de 50px, 
       dessa forma setamos a altura da parte destaques, começando não do começo da tela e sim da parte
       final do cabeçalho. 
    */
    height: calc(100vh - 50px);
    /* O grid-gap serve para dar espaçamentos entre as caixas (ou quadrados) do grid */
    grid-gap: .3rem;
}

.caixa {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.destaques__titulo {
    background: rgba(0, 0, 0, .5);
    color: #fdfdfd;
    padding: .6rem;
    text-align: center;
    width: 100%;
}


/* utilizamos o duplo underline __ para indicar que principal é um elemento de destaque */

.destaques__principal {
    /* Selecionando a imagem */
    background: url('../img/fortnite.jpg') center / cover no-repeat;
    /* Centraliza a imagem */
    /* background-position: center; */
    /* Não repete a imagem */
    /* background-repeat: no-repeat; */
    /* Ocupa todo o espaço da área reservada para esse elemento */
    /* background-size: cover; */
    /* COLUMAS: Aqui setamos o inicio e final de "quadrados" ou área que o elemento pode ocupar, 
    ele inicia no primeiro quadrado e termina no começo do quarto quadrado. */
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1 / 4; */
    /* LINHA: Aqui setamos o inicio e final de "quadrados" ou área que o elemento pode ocupar, 
    ele inicia no primeiro quadrado e termina no começo do terceiro quadrado. */
    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / 3;
}


/* Dessa forma -> .destaques__secundario:nth-child(2) selecionamos o segundo filho da seção destaques
   e setamos seus "atributos" sem afetar os outros filhos da seção
*/

.destaques__secundario:nth-child(2) {
    background: url('../img/pubg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* grid-column: 4 / 4;
    grid-row: 1 / 1; */
}

.destaques__secundario:nth-child(3) {
    background: url('../img/slack.png') center / cover no-repeat;
    /* grid-column: 4 / 4;
    grid-row: 2 / 2; */
}

.destaques__secundario:nth-child(4) {
    background: url('../img/whatsapp.png') center / cover no-repeat;
    /* grid-column: 4 / 4;
    grid-row: 3 / 3; */
}

.destaques__secundario:nth-child(5) {
    background: url('../img/cs-go.jpg') center / cover no-repeat;
    /* grid-column: 3 / 3;
    grid-row: 3 / 3; */
}

.destaques__categorias {
    /* grid-column: 1 / 3; */
    grid-row: 3 / 3;
}

.destaques__categorias___lista {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}

.destaques__categorias___item {
    align-items: center;
    background: #fdfdfd;
    border-left: 5px solid transparent;
    color: #333333;
    display: flex;
    padding: 1rem;
    width: 50%;
}

.destaques__categorias___link {
    /* Vai herdar a cor do pai */
    color: inherit;
}